# 4.6 Combining and Exporting Data

In [66]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## Importing Dataframes

In [67]:
#Pathway to the Dataframes
path = r'/Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis'

In [68]:
#Importing dataframe
df_ords_prior = pd.read_csv(r'/Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis/Data/Orginal Data/order_products__prior.csv',index_col = False)

In [70]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [71]:
df_ords = pd.read_csv(r'/Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis/Data/Orginal Data/orders.csv',index_col=False)

## Exercise 4.6 Instructions

In [72]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [73]:
# Checking the shape
df_ords.shape

(3421083, 7)

In [74]:
# Checking the shape
df_ords_prior.shape

(32434489, 4)

#### 4. Merge data

In [75]:
# Merge df_ords and df_ords_prior using customer_id as a key 
df_merged_large = df_ords.merge(df_ords_prior,on = ['order_id'],how = 'outer',indicator =True)

### Check for output

In [76]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,both

In [77]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [78]:
# Merge df_ords and df_ords_prior using order_id as a keys 
df_merged_large = df_ords.merge(df_ords_prior,on = ['order_id'],indicator =True)

In [79]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [80]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [81]:
path = r'Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis'

In [82]:
path

'Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis'

In [86]:
# Step 7. Export the newly created dataframe as orders_products_merged in a suitable format:
df_merged_large.to_pickle(r'/Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis/Data/Prepared Data/orders_products_combined.pkl')

In [88]:
df_merged_large.shape

(32434489, 11)