# Taske Step 1 - 4.7 Exercise (User -Define(), If-else,loc)

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Example for creating user-define function (def)
def add_sum(x,y):
    sum = x+y
    return sum

In [3]:
# Calling user-define function
add_sum(4,6)

10

In [4]:

path = r'/Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis Copy'

In [5]:
path

'/Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis Copy'

In [6]:
# importing file
ords_prods_merged = pd.read_csv(os.path.join(path,'Data','Prepared Data','orders_products_merged.csv'),index_col=False)

In [7]:
ords_prods_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [8]:
ords_prods_merged.shape

(32434212, 16)

In [9]:
# creating subset of the dataframe ords_prods_merged..Please note. :1000000 means starting row of the dataframe till 100000 and vie versa)
df = ords_prods_merged[:1000000]

In [10]:
df

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2836489,164627,prior,14,0,15,6.0,30489,2,0,Original Hummus,67,20,7.5,both
999996,999996,1843600,164632,prior,5,1,19,9.0,30489,2,0,Original Hummus,67,20,7.5,both
999997,999997,733106,164632,prior,9,2,22,10.0,30489,3,1,Original Hummus,67,20,7.5,both
999998,999998,1650124,164632,prior,17,6,17,13.0,30489,1,1,Original Hummus,67,20,7.5,both
999999,999999,3378258,164632,prior,22,6,10,15.0,30489,3,1,Original Hummus,67,20,7.5,both

In [11]:
# Removing unecssary columns
df = df.drop(columns = ['Unnamed: 0'])

In [12]:
df

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2836489,164627,prior,14,0,15,6.0,30489,2,0,Original Hummus,67,20,7.5,both
999996,1843600,164632,prior,5,1,19,9.0,30489,2,0,Original Hummus,67,20,7.5,both
999997,733106,164632,prior,9,2,22,10.0,30489,3,1,Original Hummus,67,20,7.5,both
999998,1650124,164632,prior,17,6,17,13.0,30489,1,1,Original Hummus,67,20,7.5,both
999999,3378258,164632,prior,22,6,10,15.0,30489,3,1,Original Hummus,67,20,7.5,both

## Using If Statements

In [13]:
# Creating user-defined function..with def synatx...ow, which is a standard argument telling the function to look at each row within the dataframe. 

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

If the value within the “prices” column within the given row is less than or equal to 5, then return the string “Low-range product.”

Or else, if the value within the “prices” column within the given row is greater than 5 and less than or equal to 15, then return the string “Mid-range product.”

Or else, if the value of the “prices” column within the given row is greater than 15, then return the string “High-range product.”

Or else, return the string “Not enough data.”

In [14]:
# axis = 1 means all row and axis = 0 is all columns
# Apply price label on dataframe
df['price_range'] = df.apply(price_label, axis=1)

In [15]:
df['price_range'].value_counts (dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [16]:
# check the maximum price in the dataframe
df['prices'].max()

14.8

## If-Statements with the loc() Function

In [17]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range Products'

In [18]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5) ,'price_range_loc'] = 'Mid-range Products'

In [19]:
df.loc[df['prices'] <=5, 'price_range_loc'] = ' Low-range Products'

In [20]:
# Check value counts
df['price_range_loc'].value_counts(dropna = False)

Mid-range Products     756450
 Low-range Products    243550
Name: price_range_loc, dtype: int64

In [21]:
# Repeat process on entire dataframe
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range Products'

In [22]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15 ) & (ords_prods_merged['prices'] > 5 ), 'price_range_loc'] = 'Mid-range Products'

In [23]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range Products'

In [24]:
# Check value counts
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range Products     21890146
Low-range Products     10126384
High-range Products      417682
Name: price_range_loc, dtype: int64

## If-Statements with For-loops

In [25]:
for x in range (30 , 45):
    print("My age is %d" % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [26]:
ords_prods_merged = ords_prods_merged.drop(columns = ['Unnamed: 0'])

In [27]:
ords_prods_merged.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [28]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range Products
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range Products
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range Products
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range Products
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range Products

In [29]:
ords_prods_merged.drop(columns = ['_merge'])

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range Products
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range Products
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range Products
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range Products
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range Products
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,prior,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range Products
32434208,31526,202557,prior,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range Products
32434209,758936,203436,prior,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,Mid-range Products
32434210,2745165,203436,prior,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,Mid-range Products
32434211,3093936,205420,prior,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range Products

In [30]:
# Create new column in dataframe
ords_prods_merged['order_day_of_week']

0           2
1           3
2           3
3           4
4           4
           ..
32434207    2
32434208    5
32434209    2
32434210    3
32434211    4
Name: order_day_of_week, Length: 32434212, dtype: int64

In [31]:
len(ords_prods_merged["order_day_of_week"])

32434212

In [32]:
# Set the loop
result = []

for value in ords_prods_merged["order_day_of_week"]:
    if value == 0.0:
        result.append("Busiest day")
    elif value == 4.0:
        result.append("Least Busy")
    else:
        result.append("Regularly busy")

In [33]:
len(result)

32434212

In [34]:
# Add result to dataframe
ords_prods_merged['busiest_day'] = result

In [35]:
# Check value counts
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22437387
Busiest day        6209632
Least Busy         3787193
Name: busiest_day, dtype: int64

# Task Step 2 - new column for busiest days

In [36]:
len(ords_prods_merged["order_day_of_week"])

32434212

In [37]:
# New column businest days - two busiest days and two slowest days labeled

result_v2 = []

for value in ords_prods_merged["order_day_of_week"]:
    if value == 0.0 or value == 1:
        result_v2.append("Busiest days")
    elif value == 4 or value == 3:
        result_v2.append("Least Busy days")
    else:
        result_v2.append("Regularly busy days")

In [38]:
result_v2

['Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Regularly busy days',
 'Busiest days',
 'Regularly busy days',
 'Least Busy days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Regularly busy days',
 'Least Busy days',
 'Busiest days',
 'Regularly busy days',
 'Busiest days',
 'Busiest days',
 'Least Busy days',
 'Least Busy days',
 'Busiest days',
 'Least Busy days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',

In [39]:
# Add result to dataframe in new column
ords_prods_merged['busiest_days'] = result_v2

In [40]:
ords_prods_merged[['order_day_of_week','busiest_days']].head()

   order_day_of_week         busiest_days
0                  2  Regularly busy days
1                  3      Least Busy days
2                  3      Least Busy days
3                  4      Least Busy days
4                  4      Least Busy days

In [42]:
# values for busiest_day column 
ords_prods_merged['busiest_days'].value_counts()

Regularly busy days    12927461
Busiest days           11875462
Least Busy days         7631289
Name: busiest_days, dtype: int64

In [ ]:
ords_prods_merged.head()

# Task Step 3 - values of busiest_days column

In [43]:
# Check value counts
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22437387
Busiest day        6209632
Least Busy         3787193
Name: busiest_day, dtype: int64

# Task Step 4 - busiest period of the day column

In [44]:
# Check frequency of values in the "order_hour_of_day" column 
ords_prods_merged['order_hour_of_day'].value_counts()

10    2764390
11    2738585
14    2691563
15    2664522
13    2663272
12    2620800
16    2537469
9     2456661
17    2089452
8     1719952
18    1637922
19    1259382
20     977017
7      891928
21     796362
22     634737
23     402612
6      290770
0      218942
1      115786
5       88057
2       69431
4       53283
3       51317
Name: order_hour_of_day, dtype: int64

##### As the client wants these grouped into three different segments, we can group the 24 hours of the day as follows: Most orders = 10, 11, 14, 15, 13, 12, 16, 9; Average orders = 17, 8, 18, 19, 20, 7, 21, 22; Fewest orders = 23, 6, 0, 1, 5, 2, 4, 3

In [45]:
# Create a for-loop if statement using the above breakdown
hour_of_day = []

for value in ords_prods_merged["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    hour_of_day.append("Most orders")
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    hour_of_day.append("Fewest orders")
  else:
    hour_of_day.append("Average orders")

In [46]:
# Add result to dataframe as "busiest_period_of_day" column
ords_prods_merged['busiest_period_of_day'] = hour_of_day

In [47]:
# Check
ords_prods_merged[['order_hour_of_day', 'busiest_period_of_day']].head(10)

   order_hour_of_day busiest_period_of_day
0                  8        Average orders
1                  7        Average orders
2                 12           Most orders
3                  7        Average orders
4                 15           Most orders
5                  7        Average orders
6                  9           Most orders
7                 14           Most orders
8                 16           Most orders
9                  8        Average orders

# Task Step 5 - Print Frequency

In [48]:
ords_prods_merged['busiest_period_of_day'].value_counts()

Most orders       21137262
Average orders    10006752
Fewest orders      1290198
Name: busiest_period_of_day, dtype: int64

##### These frequencies match the sums of the above "ungrouped" frequencies, confirming the correct application of the labels

# Export as pickle file

In [49]:
ords_prods_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged_updated.pkl'))