# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

In [6]:
path = r'/Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis copy'

In [7]:
path

'/Users/priyankamittal/Desktop/Data Analytics/CareerFoundry/Immersion/Python/07-2023 Instacart Basket Analysis copy'

In [8]:
df_cust = pd.read_csv(os.path.join(path, 'Data', 'Orginal Data', 'customers.csv'), index_col=False)

In [9]:
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [10]:
df_cust.shape

(206209, 10)

In [11]:
#Check data types
df_cust.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

### Rename & drop columns

In [12]:
df_cust = df_cust.rename(columns = {'First Name' : 'first_name', 'Surnam' : 'surname', 'Gender' : 'sex', 'STATE' : 'state','Age' : 'age'})

In [13]:
df_cust.columns

Index(['user_id', 'first_name', 'surname', 'sex', 'state', 'age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [14]:
df_cust.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [15]:
df_cust['age'].mean()

49.501646387888016

In [16]:
#check for mixed data types
for col in df_cust.columns.tolist():
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cust[weird]) > 0:
    print (col)

first_name

In [17]:
df_cust['first_name'] = df_cust['first_name'].astype('str')

In [18]:
#rerun to check mixed data
for col in df_cust.columns.tolist():
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cust[weird]) > 0:
    print (col)

### Missing Values

In [19]:
df_cust.isnull().sum()

user_id         0
first_name      0
surname         0
sex             0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

All good we have no missing values

## Duplicate values

In [20]:
df_dups = df_cust[df_cust.duplicated()]

In [21]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, surname, sex, state, age, date_joined, n_dependants, fam_status, income]
Index: []

No duplicate

## Combine your customer data with the rest of your prepared Instacart data

In [22]:
# step 1 import the complete orders_products_merged dataset
ords_prods_merge = pd.read_pickle(os.path.join(path,'Data', 'Prepared Data', 'orders_products_merged_updated_2.pkl'))

In [23]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,Loyality Flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,196.0,1.0,0.0,...,Mid-range Products,Regularly busy,Regularly busy days,Average orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer
1,2398795.0,1.0,prior,2.0,3.0,7.0,15.0,196.0,1.0,1.0,...,Mid-range Products,Regularly busy,Least Busy days,Average orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer
2,473747.0,1.0,prior,3.0,3.0,12.0,21.0,196.0,1.0,1.0,...,Mid-range Products,Regularly busy,Least Busy days,Most orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer
3,2254736.0,1.0,prior,4.0,4.0,7.0,29.0,196.0,1.0,1.0,...,Mid-range Products,Least Busy,Least Busy days,Average orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer
4,431534.0,1.0,prior,5.0,4.0,15.0,28.0,196.0,1.0,1.0,...,Mid-range Products,Least Busy,Least Busy days,Most orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer

In [24]:
pd.options.display.max_columns = None

In [43]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,Loyality Flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,Mid-range Products,Regularly busy,Regularly busy days,Average orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer
1,2398795.0,1.0,prior,2.0,3.0,7.0,15.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,Mid-range Products,Regularly busy,Least Busy days,Average orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer
2,473747.0,1.0,prior,3.0,3.0,12.0,21.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,Mid-range Products,Regularly busy,Least Busy days,Most orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer
3,2254736.0,1.0,prior,4.0,4.0,7.0,29.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,Mid-range Products,Least Busy,Least Busy days,Average orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer
4,431534.0,1.0,prior,5.0,4.0,15.0,28.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,Mid-range Products,Least Busy,Least Busy days,Most orders,10.0,New Customer,6.37,Low spender,20.5,Non-frequent customer

In [44]:
ords_prods_merge.shape

(23910979, 24)

In [26]:
ords_prods_merge.order_hour_of_day.describe()

count    2.391098e+07
mean     1.341048e+01
std      4.245201e+00
min      0.000000e+00
25%      1.000000e+01
50%      1.300000e+01
75%      1.600000e+01
max      2.300000e+01
Name: order_hour_of_day, dtype: float64

In [27]:
ords_prods_merge.order_hour_of_day.mean()

13.410476602002644

In [28]:
#Recheck data types of orders/products data set
ords_prods_merge.dtypes

order_id                  float64
user_id                   float64
eval_set                   object
order_number              float64
order_day_of_week         float64
order_hour_of_day         float64
days_since_prior_order    float64
product_id                float64
add_to_cart_order         float64
reordered                 float64
product_name               object
aisle_id                  float64
department_id             float64
prices                    float64
_merge                     object
price_range_loc            object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
max_order                 float64
Loyality Flag              object
average_price             float64
spending_flag              object
median_prior_orders       float64
order_frequency_flag       object
dtype: object

In [29]:
#delete merge flag for next merge
del ords_prods_merge['_merge']

In [30]:
#check shape of data
ords_prods_merge.shape

(23910979, 24)

In [31]:
df_cust.shape

(206209, 10)

In [32]:
#merge data sets on user_id
df_merge = df_cust.merge(ords_prods_merge, on = 'user_id', indicator = True)

In [33]:
df_merge.shape

(23910978, 34)

In [34]:
df_merge['_merge'].value_counts()

both          23910978
left_only            0
right_only           0
Name: _merge, dtype: int64

In [35]:
df_merge.head(30)

,user_id,first_name,surname,sex,state,age,date_joined,n_dependants,fam_status,income,order_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,Loyality Flag,average_price,spending_flag,median_prior_orders,order_frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2543867.0,prior,5.0,1.0,9.0,30.0,196.0,2.0,0.0,Soda,77.0,7.0,9.0,Mid-range Products,Regularly busy,Busiest days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,1285508.0,prior,7.0,5.0,15.0,11.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,Mid-range Products,Regularly busy,Regularly busy days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2578584.0,prior,8.0,1.0,15.0,10.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,Mid-range Products,Regularly busy,Busiest days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,423547.0,prior,2.0,2.0,9.0,14.0,38928.0,1.0,0.0,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range Products,Regularly busy,Regularly busy days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2524893.0,prior,3.0,3.0,11.0,30.0,38928.0,1.0,1.0,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range Products,Regularly busy,Least Busy days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
5,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2984525.0,prior,4.0,1.0,17.0,19.0,38928.0,1.0,1.0,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range Products,Regularly busy,Busiest days,Average orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
6,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2505178.0,prior,6.0,1.0,8.0,21.0,38928.0,2.0,1.0,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range Products,Regularly busy,Busiest days,Average orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
7,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,1285508.0,prior,7.0,5.0,15.0,11.0,38928.0,3.0,1.0,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range Products,Regularly busy,Regularly busy days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
8,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2578584.0,prior,8.0,1.0,15.0,10.0,38928.0,1.0,1.0,0% Greek Strained Yogurt,120.0,16.0,12.6,Mid-range Products,Regularly busy,Busiest days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
9,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,518967.0,prior,1.0,2.0,9.0,NaN,6184.0,1.0,0.0,Clementines,32.0,4.0,4.3,Low-range Products,Regularly busy,Regularly busy days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
10,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2524893.0,prior,3.0,3.0,11.0,30.0,6184.0,2.0,1.0,Clementines,32.0,4.0,4.3,Low-range Products,Regularly busy,Least Busy days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
11,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2984525.0,prior,4.0,1.0,17.0,19.0,6184.0,2.0,1.0,Clementines,32.0,4.0,4.3,Low-range Products,Regularly busy,Busiest days,Average orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
12,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2543867.0,prior,5.0,1.0,9.0,30.0,6184.0,1.0,1.0,Clementines,32.0,4.0,4.3,Low-range Products,Regularly busy,Busiest days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
13,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2505178.0,prior,6.0,1.0,8.0,21.0,6184.0,1.0,1.0,Clementines,32.0,4.0,4.3,Low-range Products,Regularly busy,Busiest days,Average orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
14,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,1285508.0,prior,7.0,5.0,15.0,11.0,6184.0,2.0,1.0,Clementines,32.0,4.0,4.3,Low-range Products,Regularly busy,Regularly busy days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
15,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2578584.0,prior,8.0,1.0,15.0,10.0,6184.0,3.0,1.0,Clementines,32.0,4.0,4.3,Low-range Products,Regularly busy,Busiest days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
16,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,2524893.0,prior,3.0,3.0,11.0,30.0,47402.0,3.0,0.0,Fuji Apples,24.0,4.0,7.1,Mid-range Products,Regularly busy,Least Busy days,Most orders,8.0,New Customer,8.22,Low spender,19.0,Regular customer,both
17,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,1044841.0,prior,3.0,6.0,11.0,30.0,196.0,1.0,0.0,Soda,77.0,7.0,9.0,Mid-range Products,Regularly busy,Regularly busy days,Most orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
18,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,474720.0,prior,4.0,1.0,20.0,16.0,196.0,6.0,1.0,Soda,77.0,7.0,9.0,Mid-range Products,Regularly busy,Busiest days,Average orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
19,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,896617.0,prior,5.0,6.0,22.0,26.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,Mid-range Products,Regularly busy,Regularly busy days,Average orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
20,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,122641.0,prior,2.0,6.0,16.0,30.0,13176.0,5.0,0.0,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range Products,Regularly busy,Regularly busy days,Most orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
21,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,1044841.0,prior,3.0,6.0,11.0,30.0,13176.0,4.0,1.0,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range Products,Regularly busy,Regularly busy days,Most orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
22,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,896617.0,prior,5.0,6.0,22.0,26.0,13176.0,5.0,1.0,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range Products,Regularly busy,Regularly busy days,Average orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
23,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,2043158.0,prior,12.0,6.0,18.0,13.0,44683.0,5.0,0.0,Brussels Sprouts,83.0,4.0,11.3,Mid-range Products,Regularly busy,Regularly busy days,Average orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
24,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,2770784.0,prior,7.0,3.0,22.0,25.0,31343.0,3.0,0.0,Shredded Mild Cheddar Cheese,21.0,16.0,1.5,Low-range Products,Regularly busy,Least Busy days,Average orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
25,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,2801781.0,prior,8.0,2.0,11.0,30.0,31343.0,5.0,1.0,Shredded Mild Cheddar Cheese,21.0,16.0,1.5,Low-range Products,Regularly busy,Regularly busy days,Most orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
26,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,2225391.0,prior,11.0,0.0,14.0,29.0,31343.0,2.0,1.0,Shredded Mild Cheddar Cheese,21.0,16.0,1.5,Low-range Products,Busiest day,Busiest days,Most orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
27,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,122641.0,prior,2.0,6.0,16.0,30.0,43352.0,4.0,0.0,Raspberries,32.0,4.0,1.4,Low-range Products,Regularly busy,Regularly busy days,Most orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
28,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,122641.0,prior,2.0,6.0,16.0,30.0,27156.0,8.0,0.0,Organic Black Beans,59.0,15.0,6.1,Mid-range Products,Regularly busy,Regularly busy days,Most orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both
29,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,2801781.0,prior,8.0,2.0,11.0,30.0,9839.0,1.0,0.0,Organic Broccoli,83.0,4.0,10.5,Mid-range Products,Regularly busy,Regularly busy days,Most orders,12.0,Regular Customer,6.91,Low spender,26.0,Non-frequent customer,both

In [36]:
# check the outer join to see how many values dropped
df_merge_outer = df_cust.merge(ords_prods_merge, on = 'user_id', how = 'outer', indicator = True)

In [37]:
df_merge_outer['_merge'].value_counts()

both          23910978
left_only          280
right_only           1
Name: _merge, dtype: int64

In [38]:
# export merged product order data set as pickle
df_merge.to_pickle(os.path.join(path, 'Data','Prepared Data', 'instacard_basket_merged.pkl'))

In [39]:
crosstab = pd.crosstab(ords_prods_merge['days_since_prior_order'], ords_prods_merge['order_number'], dropna = False)

In [40]:
crosstab.to_clipboard()

In [41]:
crosstab.head()

order_number,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,39.0,40.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0,50.0,51.0,52.0,53.0,54.0,55.0,56.0,57.0,58.0,59.0,60.0,61.0,62.0,63.0,64.0,65.0,66.0,67.0,68.0,69.0,70.0,71.0,72.0,73.0,74.0,75.0,76.0,77.0,78.0,79.0,80.0,81.0,82.0,83.0,84.0,85.0,86.0,87.0,88.0,89.0,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
days_since_prior_order,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,0,14332,14225,12483,11471,11277,10186,9802,8980,8115,8390,7024,6733,6414,5874,5755,5549,5595,4992,4916,5056,4689,4359,4334,4371,4037,4331,4052,3773,4160,3515,3722,3400,3310,3279,3223,3129,2977,2907,2966,2982,2754,2737,2701,2384,2520,2479,1995,2373,1990,1853,2170,1891,1899,1755,1864,1760,1598,1774,1677,1512,1645,1408,1500,1231,1632,1462,1375,1229,1243,1278,1183,1281,1210,978,1155,1150,1069,1045,914,1012,910,875,1142,1012,995,863,878,916,937,886,796,694,869,850,747,682,779,716
1.0,0,21859,20732,19335,18781,17643,17530,16224,15368,14886,15238,13689,13615,13008,13438,13155,12107,11453,11202,10865,11116,10040,9851,9680,9383,9532,9382,8802,9173,8845,8502,8524,7971,7682,7143,7139,7192,6995,7076,7024,6410,6619,6461,6302,6303,6153,6369,6077,5731,5306,5676,5186,4880,5271,5311,4708,4765,4687,4366,4311,4228,4464,3693,4245,3720,3639,4012,3548,3418,3490,3147,3303,3225,3175,3120,2909,3178,2947,2687,3121,2649,2346,2632,2491,2467,2393,2275,2029,2287,2123,2126,2084,1989,1992,1977,1865,1897,2023,1746
2.0,0,32814,33166,30847,29094,29229,27158,26816,25673,24363,23989,22804,22410,22075,20872,20289,19550,19240,18817,17416,17406,17918,17153,16706,16176,16005,15407,14640,14129,14357,13810,13811,12789,13043,12180,12026,12388,12074,11643,11056,10872,10908,10108,9757,9720,9815,9057,10081,9307,9007,8999,8111,8016,8143,7764,7269,7328,7073,6675,6522,6864,6318,6254,5902,5640,5906,5665,5328,5438,5077,5179,4920,4820,4588,4399,4329,4016,3893,3895,3673,3798,3418,3761,3547,3072,2997,3089,3255,2651,2768,2731,2538,2764,2581,2350,2278,2395,2387,1974
3.0,0,44326,45391,43253,42103,40788,38535,36171,35427,35347,33409,31683,31148,30246,28324,27860,26594,25749,25638,24271,24167,23437,22876,21882,21630,21192,19873,20250,19437,17568,17863,18279,17828,16965,16718,16390,15772,15924,14858,15927,14060,13728,13425,12912,12559,12629,11786,11938,10939,11439,10490,10270,9904,9312,8794,9063,8679,8141,8141,7613,7762,7622,6988,7202,6428,6219,6045,5800,6127,5560,5157,5309,4871,4772,4928,4691,4297,3960,4232,3792,3908,3489,3405,2967,3291,3101,3098,2574,2778,2592,2481,2203,2369,2225,2070,2089,1929,1673,1929
4.0,0,55422,56806,53403,51439,48684,45838,44797,43860,42632,40380,38591,36364,34751,34065,33195,31398,30979,29421,28020,27361,27317,27274,24847,25706,23774,23435,22781,21718,20564,20523,19688,18697,18703,18293,17415,17713,16507,15829,14444,14857,14857,14331,14400,13755,12717,12392,11817,11395,10810,10526,9967,9988,9278,9034,9081,8976,7887,7629,7500,6942,6697,6667,5984,6364,5677,5094,4855,4803,5017,4952,4299,4146,3867,4025,3341,3655,3417,3316,3249,2954,3055,2679,2477,2186,2171,2024,2129,2067,1839,1780,1884,1602,1417,1633,1493,1419,1369,1373

In [42]:
crosstab.to_clipboard()